[submodule "dotbot"]
	path = modules/dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "modules/tmux"]
	path = modules/tmux
	url = https://github.com/gpakosz/.tmux
[submodule "modules/prezto"]
	path = modules/prezto
	url = https://github.com/sorin-ionescu/prezto
[submodule "modules/fzf"]
	path = modules/fzf
	url = https://github.com/junegunn/fzf
[submodule "modules/pyenv"]
	path = modules/pyenv
	url = https://github.com/pyenv/pyenv.git
[submodule "modules/fast-syntax-highlighting"]
	path = modules/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
