[submodule "modules/tmux"]
	path = modules/tmux
	url = https://github.com/gpakosz/.tmux
[submodule "modules/prezto"]
	path = modules/prezto
	url = https://github.com/sorin-ionescu/prezto
[submodule "modules/pure"]
	path = modules/pure
	url = https://github.com/fei6409/pure
